body {
  background-color: #C0C0C0;
  margin: 1em 8% 0 8%;
  /* ie9 defaults to small */
  font-size: medium;
  font-family: "Comic Sans MS", "Comic Sans", comicsansms, comicsans;
}

p.main, th, td {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 125%;
}

p.large {
  font-size: 2em;
  font-weight: bold;
  line-height: 125%;
}

p.huge {
    font-size: 4em;
    font-weight: bold;
    color: red;
}

p.small { font-size: small }

.group:after {
  content: "";
  display: table;
  clear: both;
}

.images {
  float: left;
  width: 140px;
}

.text {
  float: left;
  width: 70%;
}
